<div class="main-body">
    <div class="main">
        <div class="container-fluid" style="padding-top: 20px;">
            <div class="row">
                <ng-template ngFor let-item [ngForOf]="nodes">
                    <div class="alarm-card">
                        <div style="position: relative;">
                            <div class="context-left" [ngClass]="item.alarmModel.style.bgColor">
                                <div class="icon">

                                    <i class="material-icons"
                                        style="font-size: 30px;">{{item.alarmModel.style.icon}}</i>
                                </div>
                            </div>
                            <div class="context-right">
                                <div style="padding-left: 10px;">
                                    <div class="handler-title">
                                        <span><strong>{{item.handler}}</strong> </span>
                                    </div>
                                    <div class="handler-text">
                                        {{item.message}}
                                    </div>
                                    <div class="handler-time">
                                        {{item.updateTime}}
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="info-box-2 " [ngClass]="item.alarmModel.style.bgColor">
                            <div class="icon">
    
                                <i class="material-icons">{{item.alarmModel.style.icon}}</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <span>{{item.handler}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><strong>{{item.updateTime}}</strong></span>
    
    
                                </div>
                                <div style="clear: both;" class="number count-to">{{item.message}}</div>
                            </div>
                        </div> -->
                    </div>

                </ng-template>
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-2 bg-deep-purple">
                        <div class="icon">
                            <i class="material-icons">favorite</i>
                        </div>
                        <div class="content">
                            <div class="text">LIKES</div>
                            <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">1432</div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row" *ngIf="nodes.length==0" style="width: 100%; text-align: center; margin-top: 200px;">
                <div style="margin:0 auto">
                    <h1 style="color: white;">目前暂无报警！</h1>
                </div>
            </div>
            <footer id="divFooter" class="footer navbar-fixed-bottom ">

                <div class="container">
                    <img src="./assets/images/alarm-close.png" (click)="close()" style="cursor: pointer;" />
                </div>
    
            </footer>
        </div>
      
    </div>
</div>