.info-box-2 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.info-box-2 .icon {
    display: inline-block;
    text-align: center;
    width: 80px;
}
.info-box-2 .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}
.info-box-2 .content {
    display: inline-block;
    padding: 7px 5px;
}
.info-box-2 .content .text {
    font-size: 13px;
    margin-top: 6px;
    color: #555;
}
 .content .text, .number {
    color: #fff !important;
}
.info-box-2 .content .number {
    font-weight: normal;
    font-size: 22px;
    margin-top: -4px;
    color: #555;
    white-space:nowrap;          /*不换行*/
    text-overflow: ellipsis;         /*超出的显示省略号*/
    overflow:hidden;                  /*超出部分隐藏*/
    word-wrap:normal;   

}
.main{
    background: #222222;
    height: 100%;
}
.bg-purple {
    background-color: #9C27B0 !important;
    color: #fff;
}
.bg-deep-purple {
    background-color: #673AB7 !important;
    color: #fff;
}
.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}
.bg-indigo {
    background-color: #3F51B5 !important;
    color: #fff;
}

#divFooter {
    position:fixed;
    margin-right:98px;
    padding-right:15px;
    bottom:20px;
    margin-bottom:0;
    width:100%;
    text-align:center;
    }